.App {
  width: 100%;
}


/* Display Order */
.display-order {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.order-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.order-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.order-images img {
  max-width: 250px;
  max-height: 213px;
  margin: 10px;
}