.App {
  width: 100%;
}
/* Create Order */

.order-details {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 15px;
}

.order-details input {
  margin-left: 10px;
}


.create-order {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px 0px;
}

.create-order select, text {
  margin-top: 10px;
  margin-left: 5px;
}

.instruction-form {
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.instruction-form button {
  display: flex;
  flex-direction: column;
  
}

/* Display Order */
.display-order {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.order-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.order-images {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.order-images img {
  max-width: 250px;
  max-height: 213px;
  margin: 10px;
}